{{ define "main" }}
<div class="container list-page">
  <h1 class="list-title">Destinations</h1>
  <div class="posts-grid">
    {{ range (site.GetPage "/destinations").Sections.ByDate.Reverse }}
    <a href="{{ .RelPermalink }}" class="post-card">
      <div class="post-card-img-link">
        <img src="{{ .RelPermalink }}cover.jpg" alt="{{ .Title }}" class="post-card-img">
      </div>
      <div class="post-card-body"><h2 class="post-card-title">{{ .Title }}</h2></div>
    </a>
    {{ end }}
  </div>
</div>
{{ end }}
